@page "/"
@using System.Globalization;
<body style="background-color:#FFF8DC">

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <br />
    <br />
    <br />
    <div style="font-size: 4rem">
        <p class="text-center">Welcome to PM project by VS!</p>
    </div>
    <br/>
    <br/>
    <div style="font-size: 3rem">
        <p class="text-center">
            @DateTime.Now.ToString("dddd, dd MMMM yyyy")
        </p>
    </div>
</body>