@inherits EditProjectView


<EditForm Model="@EditProjectViewModel.ProjectViewModel" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <MudDialog Style="width: 40%;">
        <DialogContent>
            <div style="border-bottom: 1px solid grey; padding-bottom: 15px;margin-top:-24px;" class="d-flex justify-content-between">
                <MudButton Style="margin-right: 5%;" type="submit" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Save</MudButton>
            </div>
            <div>
                @if (EditProjectViewModel.IsConcurency)
                {
                    <MudButton Variant="Variant.Outlined" style="margin-bottom:14px;margin-left: 10px;" @onclick="Reload">Обновить</MudButton>
                }
            </div>
            <span>
                @if (EditProjectViewModel.IsConcurency)
                {
                    @EditProjectViewModel.ConcurencyErrorText
                }
            </span>
            <MudTextField Label="Title"
            @bind-Value="EditProjectViewModel.ProjectViewModel.Title" For="@(() => EditProjectViewModel.ProjectViewModel.Title)" />
            
        </DialogContent>
    </MudDialog>
</EditForm>
